@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.navbar {
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: rgb(17 24 40 / 50%);
  background: $nav-bg;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon {
      @include sm {
        display: none;
      }
    }

    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        object-fit: cover;
      }
    }
  }
}

.refresh-btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  padding-inline-start: 0;
  padding-inline-end: 0;
  outline: none;
  position: relative;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  line-height: 1.5;
  height: 32px;
  border-radius: 6px;
}

.refresh-btn:hover {
  color: rgba(255, 255, 255, 0.85);
  background: rgba(255, 255, 255, 0.12);
}